project = "project-id"
public_key_path = ""
private_key_path = ""
disk_image = "image name"
user_name = "user name"
app_disk_image = "app-base"
db_disk_image = "db-base"
app_instance_name = "app-prod"
app_machine_type="g1-small"
app_zone="europe-west1-b"
app_tags = ["tag-app"]
db_instance_name = "db-prod"
db_machine_type="g1-small"
db_zone="europe-west1-b"
db_tags = ["tag-db"]
bucket_name = "name-bucket-storage"
mongo_firewall_resource_name = "default-allow-mongo-prod"
ssh_firewall_resource_name = "default-allow-ssh-prod"
app_resource_ip_name = "app-external-ip-prod"
puma_firewall_resource_name = "allow-puma-default-prod"
